/*
 *
*/

NetworksWidget, StatusWidget, ConnectWidget  {
    border: $foreground-muted;
    padding: 0;
}
NetworksWidget, StatusWidget {
    height: auto;
}

NetworksWidget:focus-within, StatusWidget:focus-within, ConnectWidget:focus-within {
    border: $primary;
}

DataTable, DataTable:focus-within {
    margin: 0 1;
    background: $background;
}

Input {
    background: $background;
    width: 50w;
    height: 1;
    border: none;
}
Input:focus {
    background: $secondary-darken-3;
}
